#wrap {
	width: 1100px;
	margin: 0 auto;
	padding-top:50px;
}


#calendar {
	float:right;
	width: 900px;
	/*margin: 0 auto;*/
}

#tasks {
	float: left;
	width: 148px;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
}

.tasks {
	margin: 10px 0;
	padding: 2px 4px;
	background: #3366CC;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
}

#new-task-input{
	
}
