#wrap {
	width: 1000px;
	margin: 0 auto;
	padding-top:50px;
}

#calendar {
	float:right;
	width: 760px;
}

#task-group-wrap {
	float: left;
	width: 210px;
	/*margin-right: 10px;*/
}

.task-box {
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
}

.task-box-title {
	color:green;
	font-size: 1.1em;
	margin-bottom:-8px;
}

#new-task, .tasks {
	margin: 10px 0;
	padding: 2px 4px;
	/*default color set in calendar.php
	background: #3366CC;*/
	color: #fff;
	font-size: .85em;
	cursor: pointer;
}

#task-title {
	
}

.task-toggle {
	background:white;
	color:black;
	margin-bottom:1.5px;
	/*margin-top:-11px;
	margin-bottom:-11px;*/
}

.task-button {
	float:right;
	display:inline-block;
	position:relative;
	bottom:21px;
}

/* override edit button formatting.
 * this should be done be makeing a new jquery theme*/
.ui-button-text {
	padding: 0px 4px 0px 4px !important;
}

#new-task-input {
	font-size: .85em;
}

#new-task input, .formLine calendar{ 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* these make the task descriptions look better.
 * changes should be mirrored in ./lib/tinymce-content.css */
p {
	padding:0 0 0 0;
	margin:0 0 0 0;
}
ol, ul {
	/*padding:0 0 0 0;*/
	margin:0 0 0 0;
}

div.footer {
	clear:both;
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}
