div.footer {
	width: 1000px;
	clear:both;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	margin: 10px auto;
}

#copyright {
	
}

#about-link {
	margin-left:40%;
	text-decoration:underline;
}

#render-time {
	float:right;
	text-align: right;
}
