#header {
	width:1000px;
	/*margin:0px 20px 0px 20px;*/
	margin: 0 auto;
	clear:both;
}

#header-uname {
	margin-right:10px;
}

.header-link {
	margin-left:20px;
}

#header-logout-icon {
	/*margin-right:10%;*/
	float:right;
	height:25px;
}
