#wrap {
	width: 1000px;
	margin: 0 auto;
	overflow:hidden;
}

/* override edit button formatting.
 * this should be done by making a new jquery theme*/
.ui-button-text {
	padding: 0px 4px 0px 4px !important;
}

#group-wrap {
	float: left;
	width: 400px;
	margin-right: 20px;
	display:block;
}

.group-box, #add-group {
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
	margin-bottom:10px;
}

.group-title {
	color:green;
	font-size: 1.1em;
	display:inline-block;
}

.group-edit-button {
	float:right;
}

/* Style these buttons uniquely*/
.group-edit-button-text {
	line-height: 1.0 !important;
	padding: 1px 4px 0px 4px !important;
}

.member-box, #add-member {
	margin: 0 0 10px;
	padding: 2px 4px;
	/*default color set in settings.php
	background: #3366CC;*/
	color: #fff;
	font-size: .85em;
	cursor: pointer;
}

.member-perms {
	
}

.member-quit-icon {
	float:right;
	height:16px;
	padding-left:4px;
}

#error-msg {
	/*color:#bf061c; /* Dark Red */
	color:#FFD7D8;
	margin-left:10px;
}

#personal-wrap {
	float:right;
	width:300px;
	margin-right:100px;
}
